<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.r0hook.lab">
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="r0hook Lab">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
